<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

<div th:replace="~{header}"></div>
<div th:class="feed">
    <div th:class="post-container" th:each="item: ${page}">
        <div th:class="post-header">
            <img
                    src="https://cdn.freecodecamp.org/curriculum/legacy-css-flexbox/quincy-twitter-photo.jpg"
                    alt="Quincy Larson's profile picture"
                    class="profile-thumbnail"
            />
            <div class="profile-name">
                <h3 th:class="zero-margin" th:text="${item.name}">Quincy Larson</h3>
                <h4 th:class="zero-margin" th:text="${#strings.prepend(item.username,'@')}">@ossia</h4>
            </div>
            <div th:class="right-side-btn">
                <button th:class="right-side-button">Follow</button>
            </div>
        </div>
    </div>
    <div class="pagination-div">
        <span th:if="${page.hasPrevious()}">
        <a th:href="@{/users/find-people(page=${page.number - 1},size=${page.size})}">Previous</a>
    </span>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
            <span th:unless="${page.number == i}">
             <a th:href="@{/users/find-people(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
        </th:block>
        <span th:if="${page.hasNext()}">
        <a th:href="@{/users/find-people(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
    </div>
</div>

</body>
</html>