<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Twitter</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div th:replace="~{header}"> </div>

    <div th:class="error">
        <form action="#" th:action="@{/feed}" method="get">
             <h3 th:class="feed-header">Sorry an error occurred please return to the main page</h3>
            <p>
                <input type="submit" value="Return to feed"/>
            </p>
        </form>
    </div>
</body>
</html>